body { background-color: black; color: white; }

tr.title { background-color: navy; color: peru; }

fieldset { border: 1px solid grey; }
legend { color: grey; }

div.toolbar { background-color: black; color: white; }

.win { color: green; }
.lost { color: red; }
.win2 { background-color: #124D00;}
.lost2 { background-color: #4D0000;}
.draw { color: grey; }
.age { color: grey ;}
.years { color: khaki; }
.date { color: khaki; }
.date_guess { color: grey; }
.rank { color: khaki; }
.comment { color: grey; }
.secondary { color: grey; }
.sectitle { background-color: navy; color: grey; } /* transparent did not work */
.seed { color: #99FF99; }
.label { color: gray; }
.location { color: grey; }

.wdlbox { stroke: white; }
.wdlbox_win { fill: green; }
.wdlbox_draw { fill: yellow; }
.wdlbox_lose { fill: red; }
